
#message-text {
    height: 10rem;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}
.app-badle {
    height: 3rem;
    
}

masthead .masthead-device-mockup .shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(-10deg);
    fill: #2937f0;
    bottom: 15%;
    left: 10%;
     }